.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: rgb(148, 42, 148);
    color: white;
    padding: 0.25rem 1rem;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
  }