.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
  margin: 10px;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
  margin-top: 10px;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
  margin-top: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 10px;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(148, 42, 148);
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  color: rgb(148, 42, 148);
}

.loginbutton {
  font: inherit;
  color: white;
  cursor: pointer;
  background-color: rgb(148, 42, 148);
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  margin-right: 20px;
}

.div {
  margin-top: 20px;
}
